
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">

                    <img src="~/Content/images/oplung_12_2.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Liên Hệ Ngay
                        </h2>
                    </div>
                    <p>
                        Ốp lưng UAG iPhone 13 Pro Max Plasma chính hãng UAG được bảo hành 12 tháng chính hãng UAG. Ốp lưng được bán tại TaoStore với mức giá hấp dẫn cùng nhiều ưu đãi đặc biệt khi khách mua hàng.
                    </p>
                    <a href="">
                        Đọc Thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


