@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                ỐP LƯNG IPHONE MỚI NHẤT
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                Featured
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6  col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">

                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="box">
                    <a href="">
                        <div class="img-box">
                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <h6>
                                Ốp Lưng Iphone 13
                            </h6>
                            <h6>
                                Giá:
                                <span>
                                    299.999 VNĐ
                                </span>
                            </h6>
                        </div>
                        <div class="new">
                            <span>
                                New
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Xem tất cả
            </a>
        </div>
    </div>
</section>


<!-- end shop section -->
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 col-lg-5 ">
                <div class="img-box">

                    <img src="~/Content/images/oplung_12_2.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Liên Hệ Ngay
                        </h2>
                    </div>
                    <p>
                        Ốp lưng UAG iPhone 13 Pro Max Plasma chính hãng UAG được bảo hành 12 tháng chính hãng UAG. Ốp lưng được bán tại TaoStore với mức giá hấp dẫn cùng nhiều ưu đãi đặc biệt khi khách mua hàng.
                    </p>
                    <a href="">
                        Đọc Thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end about section -->
<!-- feature section -->
<!-- end feature section -->
<!-- contact section -->

<section class="contact_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>
                            Liên Hệ
                        </h2>
                    </div>
                    <form action="">
                        <div>
                            <input type="text" placeholder="Full Name " />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone number" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="d-flex ">
                            <button>
                                Gửi
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">

                    <img src="~/Content/images/oplung_13_1.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->
<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                FeedBack
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">

                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <div class="client_info">
                                <div class="client_name">
                                    <h5>
                                        Tấn Thái
                                    </h5>
                                    <h6>
                                        Khách Hàng
                                    </h6>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                Sản Phẩm tốt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">

                            <img src="~/Content/images/oplung_13_2.png" />
                        </div>
                        <div class="detail-box">
                            <div class="client_info">
                                <div class="client_name">
                                    <h5>
                                        Hoài Bảo
                                    </h5>
                                    <h6>
                                        Khách Hàng
                                    </h6>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                            <p>
                                tốt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>