<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" src="~/Content/images/favicon.png" type="image/x-icon">

    <title>Timups</title>

    <script src="~/tinymce_6.1.0/tinymce/js/tinymce/tinymce.min.js"></script>

    <script>tinymce.init({selector:'textarea'});</script>

    <!-- bootstrap core css -->

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->

    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- responsive style -->

    <link href="~/Content/css/responsive.css" rel="stylesheet" />
</head>
<body style="background-color: #FFFFCC ">




        <!-- header section strats -->
        <header class="header_section" style="background-color: #ffd400 ">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            TaoStore
                            <img src="~/Content/images/1231.png" width="40px" />

                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Admin/Index">Trang Chủ <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Sanpham">Quản Lý Sản Phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/QuanLyNguoiDung">Quản Lý Người Dùng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/QuanLyAdmin">Quản Lý Tài Khoản Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Dondathang">Quản Lý Đơn Đặt Hàng</a>
                            </li>


                        </ul>
                  



                        
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
      
        
        @RenderBody()

</body>
</html>
