@model IEnumerable<DOAN_WEB_1.Models.SanPham>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Chi Tiết sản phẩm</h2>
<h3>Ten San Pham : @Model.TenSP</h3>

