@Model IEnumerable<DOAN_WEB_1.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

@foreach(var sanpham in Model)
            {
                <li>
                    <a href="@Url.Action("Detail","IphoneStore", new {id = sanpham.MaSP })">
                     
                        <img src="~/Content/images/oplung_ip12.png"  alt=" @sanpham.TenSP" />
                        <span>
                            @sanpham.TenSP
                        </span>
                    </a>
                </li>

            }
